<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>create Room</title>

  <meta charSet="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" th:href="@{/web/stockgame/img/favicon.ico}"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/header.css}"
        href="https://static.chotot.com/storage/APP_WRAPPER/production/3.0.34/desktop/header.css"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/63178ad27790075ae898.css}" data-n-g=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/63178ad27790075ae898.css"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/98860068d9a55a52aa91.css}"  data-n-p=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/98860068d9a55a52aa91.css"/>
  <link rel="stylesheet"  th:href="@{/web/stockgame/css/b1d77895ce12340d9776.css}" data-n-p=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/b1d77895ce12340d9776.css"/>
  <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="web/stockgame/fragments/main :: main">&copy; 2016 The Static Templates</div>

<div style="display: none;">
  <div th:fragment="operations" class="col-md-8">
    create your Game
  </div>
</div>

<div style="display: none;">
  <div th:fragment="gameInfo">
    <h4>Game Info</h4>
    <hr/>
    <div class="col-xs-12 no-padding">
      <div></div>
      <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
        <div class="AdParam_adMediaParam__3bzmC">
          <div class="media-left media-top">
            <img class="AdParam_adParamIcon__1W6qJ" src="https://static.chotot.com/storage/icons/logos/ad-param/size.png">
          </div>
          <div class="media-body media-middle">
          <span><span>Game ID: </span>
          <span itemprop="size" class="AdParam_adParamValue__1ayWO">AEV255ORJQMW1q2345SF</span></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
        <div class="AdParam_adMediaParam__3bzmC">
          <div class="media-left media-top">
            <img class="AdParam_adParamIcon__1W6qJ" src="https://static.chotot.com/storage/icons/logos/ad-param/size.png">
          </div>
          <div class="media-body media-middle">
          <span><span>So Luot Choi: </span>
          <span itemprop="size" class="AdParam_adParamValue__1ayWO">12</span></span>
          </div>
        </div>
      </div>
      <div></div>
      <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
        <div class="AdParam_adMediaParam__3bzmC">
          <div class="media-left media-top">
            <img class="AdParam_adParamIcon__1W6qJ" src="https://static.chotot.com/storage/icons/logos/ad-param/size.png">
          </div>
          <div class="media-body media-middle">
          <span><span>TG Bat Dau: </span>
          <span itemprop="size" class="AdParam_adParamValue__1ayWO">01/2019</span></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
        <div class="AdParam_adMediaParam__3bzmC">
          <div class="media-left media-top">
            <img class="AdParam_adParamIcon__1W6qJ" src="https://static.chotot.com/storage/icons/logos/ad-param/size.png">
          </div>
          <div class="media-body media-middle">
          <span><span>Vong Quay: </span>
          <span itemprop="size" class="AdParam_adParamValue__1ayWO">1 thang</span></span>
          </div>
        </div>
      </div>
      <div></div>
      <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
        <div class="AdParam_adMediaParam__3bzmC">
          <div class="media-left media-top">
            <img class="AdParam_adParamIcon__1W6qJ" src="https://static.chotot.com/storage/icons/logos/ad-param/size.png">
          </div>
          <div class="media-body media-middle">
          <span><span>Danh Muc Co Phieu: </span>
          <span itemprop="size"
                class="AdParam_adParamValue__1ayWO">MSN, MWG, SAB, VPB, VNM, BID, FPT, PNJ, VHM, CTG</span></span>
          </div>
        </div>
      </div>
      <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
        <div class="AdParam_adMediaParam__3bzmC">
          <div class="media-left media-top">
            <img class="AdParam_adParamIcon__1W6qJ" src="https://static.chotot.com/storage/icons/logos/ad-param/size.png">
          </div>
          <div class="media-body media-middle">
          <span><span>Don vi: </span>
          <span itemprop="size" class="AdParam_adParamValue__1ayWO">1.000.000 VND</span></span>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>

</body>
</html>