<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>play Stock: sell/buy</title>

  <meta charSet="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" th:href="@{/web/stockgame/img/favicon.ico}"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/header.css}"
        href="https://static.chotot.com/storage/APP_WRAPPER/production/3.0.34/desktop/header.css"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/63178ad27790075ae898.css}" data-n-g=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/63178ad27790075ae898.css"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/98860068d9a55a52aa91.css}"  data-n-p=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/98860068d9a55a52aa91.css"/>
  <link rel="stylesheet"  th:href="@{/web/stockgame/css/b1d77895ce12340d9776.css}" data-n-p=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/b1d77895ce12340d9776.css"/>
  <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="web/stockgame/fragments/main :: main">&copy; 2016 The Static Templates</div>

<div style="display: none;">
  <div th:fragment="operations" class="col-md-8">
    Let's buy/sell your stocks...
  </div>
</div>
</body>
</html>