<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charSet="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{/web/stockgame/css/63178ad27790075ae898.css}" data-n-g=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/63178ad27790075ae898.css"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/b1d77895ce12340d9776.css}" data-n-p=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/b1d77895ce12340d9776.css"/>
  <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:fragment="demo" class="col-md-8">
  <div class="col-xs-12 no-padding">
    <div></div>
    <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
      <div class="AdParam_adMediaParam__3bzmC">
        <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Diện tích đất"
                                               src="https://static.chotot.com/storage/icons/logos/ad-param/size.png">
        </div>
        <div class="media-body media-middle"><span><span>Diện tích đất: </span><span itemprop="size"
                                                                                     class="AdParam_adParamValue__1ayWO">65 m²</span></span>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
      <div class="AdParam_adMediaParam__3bzmC">
        <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Giá/m2"
                                               src="https://static.chotot.com/storage/icons/logos/ad-param/price_m2.png">
        </div>
        <div class="media-body media-middle"><span><span>Giá/m2: </span><span itemprop="price_m2"
                                                                              class="AdParam_adParamValue__1ayWO">244,62 triệu/m²</span></span>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
      <div class="AdParam_adMediaParam__3bzmC">
        <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Số phòng ngủ"
                                               src="https://static.chotot.com/storage/icons/logos/ad-param/rooms.png">
        </div>
        <div class="media-body media-middle"><span><span>Số phòng ngủ: </span><span itemprop="rooms"
                                                                                    class="AdParam_adParamValue__1ayWO">4 phòng</span></span>
        </div>
      </div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
      <div class="AdParam_adMediaParam__3bzmC">
        <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Loại hình nhà ở"
                                               src="https://static.chotot.com/storage/icons/logos/ad-param/house_type.png">
        </div>
        <div class="media-body media-middle"><span><span>Loại hình nhà ở: </span><span itemprop="house_type"
                                                                                       class="AdParam_adParamValue__1ayWO">Nhà ngõ</span></span>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
      <div class="AdParam_adMediaParam__3bzmC">
        <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Chiều ngang"
                                               src="https://static.chotot.com/storage/icons/logos/ad-param/width.png">
        </div>
        <div class="media-body media-middle"><span><span>Chiều ngang: </span><span itemprop="width"
                                                                                   class="AdParam_adParamValue__1ayWO">6.5 m</span></span>
        </div>
      </div>
    </div>
    <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
      <div class="AdParam_adMediaParam__3bzmC">
        <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Chiều dài"
                                               src="https://static.chotot.com/storage/icons/logos/ad-param/length.png">
        </div>
        <div class="media-body media-middle"><span><span>Chiều dài: </span><span itemprop="length"
                                                                                 class="AdParam_adParamValue__1ayWO">10 m</span></span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>