<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charSet="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" th:href="@{/web/stockgame/img/favicon.ico}"
        href="https://www.chotot.com/chotot-img/favicon.ico"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/header.css}"
        href="https://static.chotot.com/storage/APP_WRAPPER/production/3.0.34/desktop/header.css"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/63178ad27790075ae898.css}" data-n-g=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/63178ad27790075ae898.css"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/98860068d9a55a52aa91.css}" data-n-p=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/98860068d9a55a52aa91.css"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/b1d77895ce12340d9776.css}" data-n-p=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/b1d77895ce12340d9776.css"/>
  <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>

<body>
<div>
  <div th:fragment="main" style="position:relative">
    <div></div>
    <div id="placeholder-app-wrapper" class="placeholder-app-wrapper false false">
      <div class="first false"><a class="link-app-wrapper  false" th:href="@{/web/stockgame}">
        <img class="logo-app-wrapper  false"
             th:src="@{/web/stockgame/img/nha_white_logo.webp}"
             src="https://static.chotot.com/storage/default/nha_white_logo.webp"
             alt="Stock Game"/></a></div>
      <div class="first false"><input class="input-app-wrapper  false" placeholder="search room 2 play"/></div>
    </div>
    <div class="container">
      <div class="ct-detail adview">
        <div class="row base">
          <div></div>
          <div class="row"
               style="width:100%;overflow:auto;display:flex;flex-direction:row;align-items:center;justify-content:space-between">
            <div class="col-sm-8">
              <div></div>
            </div>
            <div style="width:33.33333333%" class="styles_placeholder__HlPio styles_min__2dFVI"></div>
          </div>
          <div></div>
          <div class="col-md-8" th:replace="${view} :: operations">
            LEFT BLOCK
          </div>
          <div class="col-md-4" th:replace="web/stockgame/fragments/right :: default">
            RIGHT BLOCK
          </div>
        </div>
      </div>
      <div style="margin:15px 0;display:flex">
        <div></div>
      </div>
      <div style="margin:15px 0">
        <div></div>
      </div>
      <div></div>
    </div>
    <div></div>
  </div>
</div>
</body>
</html>