<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charSet="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" th:href="@{/web/stockgame/img/favicon.ico}" href="https://www.chotot.com/chotot-img/favicon.ico"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/header.css}"
        href="https://static.chotot.com/storage/APP_WRAPPER/production/3.0.34/desktop/header.css"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/63178ad27790075ae898.css}" data-n-g=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/63178ad27790075ae898.css"/>
  <link rel="stylesheet" th:href="@{/web/stockgame/css/98860068d9a55a52aa91.css}"  data-n-p=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/98860068d9a55a52aa91.css"/>
  <link rel="stylesheet"  th:href="@{/web/stockgame/css/b1d77895ce12340d9776.css}" data-n-p=""
        href="https://static.chotot.com/storage/NEXT_UNIFY_PRODUCTION/ac83b5d1/_next/static/css/b1d77895ce12340d9776.css"/>
  <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>

<body>
<!-- TODO: optimize this -->
<!--<div id="__next">-->
<div>
  <div th:fragment="main" style="position:relative">
    <div></div>
    <div id="placeholder-app-wrapper" class="placeholder-app-wrapper false false">
      <div class="first false"><a class="link-app-wrapper  false"><img class="logo-app-wrapper  false"
                                                                       src="https://static.chotot.com/storage/default/nha_white_logo.webp"
                                                                       alt="Chợ Tốt"/></a></div>
      <div class="first false"><input class="input-app-wrapper  false" placeholder="Tìm kiếm trên Chợ Tốt"/></div>
    </div>
    <div class="container">
      <div class="ct-detail adview">
        <div class="row base">
          <div></div>
          <div class="row"
               style="width:100%;overflow:auto;display:flex;flex-direction:row;align-items:center;justify-content:space-between">
            <div class="col-sm-8">
              <div></div>
            </div>
            <div style="width:33.33333333%" class="styles_placeholder__HlPio styles_min__2dFVI"></div>
          </div>
          <div></div>
          <div class="col-md-8">
            LEFT BLOCK
            <div class="col-xs-12 no-padding">
              <div></div>
              <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
                <div class="AdParam_adMediaParam__3bzmC">
                  <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Diện tích đất"
                                                         src="https://static.chotot.com/storage/icons/logos/ad-param/size.png">
                  </div>
                  <div class="media-body media-middle"><span><span>Diện tích đất: </span><span itemprop="size"
                                                                                               class="AdParam_adParamValue__1ayWO">65 m²</span></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
                <div class="AdParam_adMediaParam__3bzmC">
                  <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Giá/m2"
                                                         src="https://static.chotot.com/storage/icons/logos/ad-param/price_m2.png">
                  </div>
                  <div class="media-body media-middle"><span><span>Giá/m2: </span><span itemprop="price_m2"
                                                                                        class="AdParam_adParamValue__1ayWO">244,62 triệu/m²</span></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
                <div class="AdParam_adMediaParam__3bzmC">
                  <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Số phòng ngủ"
                                                         src="https://static.chotot.com/storage/icons/logos/ad-param/rooms.png">
                  </div>
                  <div class="media-body media-middle"><span><span>Số phòng ngủ: </span><span itemprop="rooms"
                                                                                              class="AdParam_adParamValue__1ayWO">4 phòng</span></span>
                  </div>
                </div>
              </div>
              <div></div>
              <div></div>
              <div></div>
              <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
                <div class="AdParam_adMediaParam__3bzmC">
                  <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Loại hình nhà ở"
                                                         src="https://static.chotot.com/storage/icons/logos/ad-param/house_type.png">
                  </div>
                  <div class="media-body media-middle"><span><span>Loại hình nhà ở: </span><span itemprop="house_type"
                                                                                                 class="AdParam_adParamValue__1ayWO">Nhà ngõ</span></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
                <div class="AdParam_adMediaParam__3bzmC">
                  <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Chiều ngang"
                                                         src="https://static.chotot.com/storage/icons/logos/ad-param/width.png">
                  </div>
                  <div class="media-body media-middle"><span><span>Chiều ngang: </span><span itemprop="width"
                                                                                             class="AdParam_adParamValue__1ayWO">6.5 m</span></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 no-padding AdParam_adParamItem__1o-dd" data-testid="param-item">
                <div class="AdParam_adMediaParam__3bzmC">
                  <div class="media-left media-top"><img class="AdParam_adParamIcon__1W6qJ" alt="Chiều dài"
                                                         src="https://static.chotot.com/storage/icons/logos/ad-param/length.png">
                  </div>
                  <div class="media-body media-middle"><span><span>Chiều dài: </span><span itemprop="length"
                                                                                           class="AdParam_adParamValue__1ayWO">10 m</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            RIGHT BLOCK
            <div class="d-lg-block d-none">
              <div class="SellerProfile_profileWrapper__4g7O2 " itemprop="seller" itemscope=""
                   itemtype="http://schema.org/Person">
                <a class="SellerProfile_sellerWrapper__3NSgn" target="_blank"
                   href="/hvdangApp/web/stockgame?user=hvdang">
                  <div class="img-thumbnail img-circle Avatar_imageWrapper__VhQVY Avatar_defaultSize__2Xz5-"></div>
                  <div class="SellerProfile_nameBounder__3gcKi" role="button" tabindex="0">
                    <div class="SellerProfile_flexDiv__VH_Ye">
                      <div class="SellerProfile_nameDiv__dd88e"><b style="margin-right: 5px;">Hoang Dang</b></div>
                      <button type="button" class="SellerProfile_secondaryButton__gNX8V">Xem trang</button>
                    </div>
                    <div class="SellerProfile_statusOnlineDiv__1bXY-">
                      <div class="SellerProfile_offlineBullet__3q-7M">•</div>
                      Chưa hoạt động
                    </div>
                  </div>
                </a>
                <div class="SellerProfile_inforWrapper__Skedu">
                  <div class="SellerProfile_inforItem__tIlo6">
                    <div class="SellerProfile_inforText__1ZJ11"><p class="">Môi Giới</p><span
                        class="SellerProfile_inforValue__2dJ9-"><img
                        src="https://static.chotot.com/storage/chotot-icons/png/pro-grey-icon.png"
                        alt="https://static.chotot.com/storage/chotot-icons/png/pro-grey-icon.png" width="auto"
                        height="20px"></span></div>
                  </div>
                  <div class="SellerProfile_seperateLine__25UTd"></div>
                  <a href="/hvdangApp/web/stockgame?user=hvdang" target="blank">
                    <div class="SellerProfile_inforItem__tIlo6">
                      <div class="SellerProfile_inforText__1ZJ11"><p class="SellerProfile_rateText__2twhX">Đánh giá</p>
                        <span
                            class="SellerProfile_inforValue__2dJ9-">---</span></div>
                    </div>
                  </a>
                  <div class="SellerProfile_seperateLine__25UTd"></div>
                  <div class="SellerProfile_inforItem__tIlo6">
                    <div class="SellerProfile_inforText__1ZJ11"><p class="">Phản hồi chat</p><span
                        class="SellerProfile_inforValue__2dJ9-">---</span></div>
                  </div>
                </div>
              </div>
            </div>
            RIGHT BLOCK
            <hr/>
            <div class="LeadButton_wrapperLeadButtonDesktop__13fEA">
              <div class="LeadButton_chatDesktopButton__2E3nh"><a
                  href="/hvdangApp/web/stockgame" rel="nofollow"
                  class="btn LeadButton_buttonChatDesktop__30BBf"><img
                  src="https://static.chotot.com.vn/storage/chotot-icons/png/chat_green.png" alt="chat"><span
                  class="text-success"><span>ACTION 123</span></span></a></div>
              <div class="LeadButton_chatDesktopButton__2E3nh"><a
                  href="/hvdangApp/web/stockgame" rel="nofollow"
                  class="btn LeadButton_buttonChatDesktop__30BBf"><img
                  src="https://static.chotot.com.vn/storage/chotot-icons/png/chat_green.png" alt="chat"><span
                  class="text-success"><span>ACTION 123</span></span></a></div>
              <div class="LeadButton_chatDesktopButton__2E3nh"><a
                  href="/hvdangApp/web/stockgame" rel="nofollow"
                  class="btn LeadButton_buttonChatDesktop__30BBf"><img
                  src="https://static.chotot.com.vn/storage/chotot-icons/png/chat_green.png" alt="chat"><span
                  class="text-success"><span>ACTION 123</span></span></a></div>
            </div>
            RIGHT BLOCK
            <hr/>
            <div class="d-lg-block d-none">
              <div>
                <div class="SafeTips_SafeTipsWrapper__p_8H5">
                  <img alt="safe tips" class="pull-left"
                       src="https://static.chotot.com/storage/images/tips/1_mobile.png"
                       width="100" height="auto">
                  <div class="SafeTips_TipText__j-Xr9"><p style="font-size: 13px;">Giao dịch, đừng giao ‘dịch’. Mua bán
                    trong thời điểm này, bạn nhớ làm theo khuyến cáo 5k của Bộ Y Tế: “Khẩu trang – Khử khuẩn – Khoảng
                    cách – Không tập trung – Khai báo y tế” để đảm bảo an toàn cho bản thân, gia đình và cộng đồng nhé!
                    ❤️</p></div>
                </div>
              </div>

            </div>
            <hr/>
            RIGHT BLOCK
          </div>
        </div>
      </div>
      <div style="margin:15px 0;display:flex">
        <div></div>
      </div>
      <div style="margin:15px 0">
        <div></div>
      </div>
      <div></div>
    </div>
    <div></div>
  </div>
</div>
</body>
</html>